<%= form_for @changeset, @action, fn f -> %>
  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label f, :author %>
  <%= text_input f, :author %>
  <%= error_tag f, :author %>

  <%= label f, :body %>
  <%= textarea f, :body %>
  <%= error_tag f, :body %>

  <%= submit "Save Post" %>
<% end %>
